.o-product-item {
    border: 1px solid @gray-lighter;
    .o-product-image {
        position: relative;
        height: 200px;
        .img {
            .o-position-absolute(0, 0, 0, 0);
            max-width: 100%;
            max-height: 100%;
            margin: auto;
        }
        .rating {
            display: none;
        }
    }
    .o-product-details {
        height: 50px;
        padding: 5px;
        border-top: 1px solid @gray-lighter;
        .o-product-name {
            display: block;
            height: 20px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .o-product-description {
        display: none;
    }
    .o-action-buttons {
        .btn-group {
            .btn {
                border-radius: 0px;
            }
        }
        .o_add_to_cart {
            display: none;
        }
    }
}
.s_product_catalog {
    .o-btn-all-products {
        display: none;
    }
    .container .products_container .o-product-catalog-slider {
        position: relative;
        .o_control{
            .o-position-absolute(@top: 50%);
            &.left{
                left: -35px;
            }
            &.right{
                right: -35px;
            }
        }
    }
    &.o_empty_catalog {
        .o_catalog_header {
            display: none;
        }
    }
    &.enable_rating {
        .rating {
            .o-position-absolute(@top: 5px, @right: 5px);
            display: block;
        }
    }
    &.products_description {
        .container .products_container {
            .o-product-description {
                position: relative;
                display: block;
                height: 65px;
                padding: 5px;
                font-size: 0.8em;
                overflow: hidden;
            }
        }
    }
    &.enable_add_to_cart {
        .o_add_to_cart {
            display: table-cell;
        }
    }
    &.products_view_all {
        .container .products_container {
            .o-btn-all-products {
                display: inline-block;
            }
        }
    }
}
